services:
  anvil:
    build:
      context: .
      dockerfile: ./docker/anvil/develop.Dockerfile
    tty: true
    ports:
      - 8545:8545

  app:
    build:
      context: .
      dockerfile: docker/app/develop.Dockerfile
    tty: true
    volumes:
      - .:/application
    ports:
      - 3000:3000 # wallet
      - 3001:3001 # example
      - 4943:4943 # icp
